BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
LineEnding: LF

AccessModifierOffset: -4
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
IncludeBlocks: Preserve
SortIncludes:
    IgnoreCase: true
PointerAlignment: Left
#IndentPPDirectives: BeforeHash

CompactNamespaces: true
FixNamespaceComments: true

# Align enums
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left

BreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass:      true
    AfterControlStatement: true
    AfterEnum:       true
    AfterFunction:   true
    AfterNamespace:  false
    AfterObjCDeclaration: true
    AfterStruct:     true
    AfterUnion:      true
    AfterExternBlock: false
    BeforeCatch:     true
    BeforeElse:      true
    IndentBraces:    false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false

Standard: c++17
