---
BasedOnStyle: Chromium
IndentWidth: 4
UseTab: Never
ColumnLimit: 100

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: false
SpacesBeforeTrailingComments: 1

IncludeBlocks: Preserve
SortIncludes: CaseInsensitive

# Allman with few exceptions (namespace, extern block)
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterObjCDeclaration: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: false
    BeforeWhile: false
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
